@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --black: #171515;
  --dark-gray: #323234;
  --gray: #646a75;
  --light-gray: #8c909a;
  --white: #e0e2e5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#content {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: calc(0.7rem + 0.7vw);
  line-height: calc(1.1rem + 0.5vw);
  color: var(--black);
}
.header-container {
  width: 1200px;
  max-width: 100%;
  padding-bottom: 2rem;
  margin: 0;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo {
  max-width: 60%;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 6px 0px 6px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
header .header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.tabs {
  display: flex;
  padding-top: 2rem;
}
.tab label {
  margin-right: 20px;
  font-size: calc(0.8rem + 0.7vw);
  position: relative;
  top: 0;
  cursor: pointer;
  color: #1d1d1d;
}
.tab [type="radio"] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
[type="radio"]:checked ~ label {
  border-bottom: 2px solid #1d1d1d;
  color: #1d1d1d;
  z-index: 2;
}
hr {
  overflow: visible;
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
#content,
main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
main {
  align-items: center;
}
img {
  max-width: 100%;
  height: auto;
  box-shadow: 6px 0px 6px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.home {
  flex: 1 1 auto;
  padding: 0.5rem;
}
.home > * {
  text-align: center;
  padding: 1rem;
}
.home > h2 {
  padding-bottom: 1rem;
}
.home-text {
  padding: 1rem;
}
.home-text > p {
  padding: 1rem;
  text-align: justify;
}
.left-sidebar {
  padding: 1rem;
  order: -1;
}
.menu {
  flex: 1 1 auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("../images/cupcakes.jpg");
  box-shadow: 0 0 15px 15px white inset;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.menu > * {
  padding: 1rem;
}
.menu-title {
  text-align: center;
  padding: 2rem;
  text-transform: uppercase;
}
.menu-row {
  padding: 1rem;
}
.menu-text {
  font-size: calc(0.9rem + 0.7vw);
  text-align: center;
  text-transform: uppercase;
}
.right-sidebar {
  padding: 1rem;
  order: 1;
}
.contact {
  flex: 1 1 auto;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-title {
  text-align: center;
  padding-bottom: 3rem;
  text-transform: uppercase;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.contact-text {
  display: flex;
  flex-direction: column;
  font-size: calc(0.9rem + 0.7vw);
  padding: 2rem;
}
.contact-text > p, .contact-text > h3{
  padding: 0.5rem;
}
.map {
  height: 100%;
  order: 1;
  padding: 0rem;
}
.map iframe {
  border: 0;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(0.6rem + 0.5vw);
}
footer a {
  color: var(--black);
  text-decoration: none;
}

@media (min-width: 768px) {
  header .header-container {
    flex-direction: row;
  }
  main {
    flex-direction: row;
  }
  .home > h2 {
    padding-bottom: 4rem;
  }
  .menu {
    background-size: contain;
  }
  .left-sidebar {
    padding-left: 4rem;
  }
  .sidebar {
    flex: 1 1 100vw;
  }
  .contact-container {
    flex-direction: row;
  }
  .map {
    flex: 1 1 100vw;
    padding: 3rem;
  }
}
